node_modules/

dist/

.env
.env.local
.env.*.local

.venv/
venv/
env/
pycache/
*.pyc

*.log

dataset/
dataset_raw/
matlab_dataset/

results/**
!results/.gitkeep

backend/results/**
!backend/results/.gitkeep

reports/**
!reports/.gitkeep

training_results/**
!training_results/.gitkeep

evaluation_results/**
!evaluation_results/.gitkeep

models/*
!models/.gitkeep
!models/dr_classifier.pkl